---
import HeadingWithLink from "@/components/HeadingWithLink.astro";
import RecentPosts from "@/components/RecentPosts.astro";
import Base from "@/layouts/Base.astro";
import { baseURL } from "@/lib/url";
---

<Base>
  <main class="w-full section-stack">
    <header>
      <HeadingWithLink
        title="Blog"
        link="see all tags"
        href={`${baseURL}/blog/tags`}
      />
    </header>
    <section aria-label="Blog posts list">
      <RecentPosts />
    </section>
  </main>
</Base>
