---
import Base from "@/layouts/Base.astro";
---

<Base>
  <main class="section-stack" role="alert" aria-live="polite">
    <h1 class="text-4xl font-bold">404</h1>
    <p>Page not found</p>
  </main>
</Base>
