---
import Base from "@/layouts/Base.astro";
import RecentPosts from "@/components/RecentPosts.astro";
import RecentProjects from "@/components/RecentProjects.astro";
import About from "@/components/About.astro";
import HeadingWithLink from "@/components/HeadingWithLink.astro";
import { baseURL } from "@/lib/url";
---

<Base>
  <main class="flex flex-col gap-12">
    <section class="section-stack" aria-label="About">
      <h2 class="text-3xl font-bold">About</h2>
      <About />
    </section>
    <section class="section-stack" aria-label="Recent posts">
      <HeadingWithLink
        title="Recent posts"
        link="see all posts"
        href={`${baseURL}/blog`}
      />
      <RecentPosts limit={3} />
    </section>
    <section class="section-stack" aria-label="Recent projects">
      <HeadingWithLink
        title="Recent projects"
        link="see all projects"
        href={`${baseURL}/projects`}
      />
      <RecentProjects />
    </section>
  </main>
</Base>
