---
import Base from "@/layouts/Base.astro";
import RecentPosts from "@/components/RecentPosts.astro";
import RecentProjects from "@/components/RecentProjects.astro";
import About from "@/components/About.astro";
import HeadingWithLink from "@/components/HeadingWithLink.astro";
---

<Base>
  <section>
    <article class="flex flex-col gap-12">
      <div class="section-stack">
        <h2 class="text-3xl font-bold">About</h2>
        <About />
      </div>
      <div class="section-stack">
        <HeadingWithLink
          title="Recent posts"
          link="see all posts"
          href="/blog"
        />
        <RecentPosts limit={3} />
      </div>
      <div class="section-stack">
        <HeadingWithLink
          title="Recent projects"
          link="see all projects"
          href="/projects"
        />
        <RecentProjects />
      </div>
    </article>
  </section>
</Base>
