---

---

<footer class="flex justify-center items-center text-gray-500">
  <span class="font-medium">© tw.heo</span>
  <span class="mx-2 text-gray-500">·</span>
  <a
    href="mailto:tw.heo24@gmail.com"
    class="underline hover:text-gray-800 transition-colors duration-300"
  >
    tw.heo24@gmail.com
  </a>
</footer>
