---

---

<footer class="flex justify-center items-center text-gray-500">
  <span class="font-medium">© tw.heo</span>
  <span class="mx-2 text-gray-500">·</span>
  <a
    id="email-link"
    class="underline hover:text-gray-800 transition-colors duration-300"
  ></a>
  <script>
    const a = document.getElementById("email-link");
    if (a) {
      const e = ["tw.heo24", "gmail.com"].join("@");
      a.href = "mailto:" + e;
      a.textContent = e;
    }
  </script>
</footer>
