---

---

<div class="flex justify-between items-center md:hidden">
  <a href="/" class="animate-underline font-semibold text-lg">tw.heo</a>
  <nav>
    <ul class="flex gap-4">
      <li>
        <a href="/blog" class="animate-underline">Blog</a>
      </li>
      <li>
        <a href="/projects" class="animate-underline">Projects</a>
      </li>
    </ul>
  </nav>
</div>
