---
import { Image } from "astro:assets";

const {
  project: {
    data: { title, heroImage, link },
  },
} = Astro.props;
---

<div class="relative">
  <div class="relative z-10 bg-gray-100 animate-card-translate">
    <a href={link}>
      <div>
        <div class="bg-gray-900 rounded-tl-sm rounded-tr-sm pl-4 py-1">
          <h3 class="text-white">{title}</h3>
        </div>
        <div
          class="border-2 border-t-0 border-dashed border-black rounded-bl-sm rounded-br-sm aspect-[4/3]"
        >
          {
            heroImage && (
              <Image
                src={heroImage}
                alt={title}
                class="object-cover w-full h-full"
              />
            )
          }
        </div>
      </div>
    </a>
  </div>
  <div
    class="absolute inset-0 z-0 bg-gray-900 animate-shadow-translate rounded-sm"
  >
  </div>
</div>
