---

---

<div class="section-stack">
  <div class="text-2xl font-medium">
    <a href="/" class="animate-underline">tw.heo</a>
  </div>
  <nav>
    <ul class="flex flex-col gap-2">
      <li>
        <a href="/blog" class="animate-underline">Blog</a>
      </li>
      <li>
        <a href="/projects" class="animate-underline">Projects</a>
      </li>
    </ul>
  </nav>
</div>
