---
import { baseURL } from "@/lib/url";
---

<div class="section-stack">
  <div class="text-2xl font-medium">
    <a href={`${baseURL}/`} class="animate-underline">tw.heo</a>
  </div>
  <nav>
    <ul class="flex flex-col gap-2">
      <li>
        <a href={`${baseURL}/blog`} class="animate-underline">Blog</a>
      </li>
      <li>
        <a href={`${baseURL}/projects`} class="animate-underline">Projects</a>
      </li>
    </ul>
  </nav>
</div>
