---
import Base from "@/layouts/Base.astro";
import RecentProjects from "@/components/RecentProjects.astro";
---

<Base>
  <main class="w-full section-stack">
    <header>
      <h1 class="text-3xl font-bold">Projects</h1>
    </header>
    <section aria-label="Projects list">
      <RecentProjects />
    </section>
  </main>
</Base>
