---
import Base from "@/layouts/Base.astro";
import RecentProjects from "@/components/RecentProjects.astro";
---

<Base>
  <article class="w-full section-stack">
    <h2 class="text-3xl font-bold">projects</h2>
    <RecentProjects />
  </article>
</Base>
